
#what .items .item{
  display:flex;
  text-align:left;
}
#what .items .item i{
  margin-right:10px;
  align-self: center;
}

@media(max-width:500px){
  #navbar{
    flex-direction:column;
  }
}
